[project]
	description = Offline documentation browser inspired by Dash
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/gengjie
[access "refs/for/refs/*"]
	read = group user/gengjie
	push = group user/gengjie
	label-Code-Review = -2..+2 group user/gengjie
	label-Verified = -1..+1 group user/gengjie
	rebase = group user/gengjie
	removeReviewer = group user/gengjie
	submit = group user/gengjie
[access "refs/heads/*"]
	read = group user/gengjie
	create = group user/gengjie
	push = +force group user/gengjie
	pushMerge = group user/gengjie
[access "refs/tags/*"]
	push = +force group user/gengjie
	pushTag = group user/gengjie
	pushSignedTag = group user/gengjie
